@import 'tailwindcss';

@theme {
  --color-background-primary: #050505;
  --color-background-secondary: #0f0f10;
  --color-background-tertiary: #19191a;

  --color-content-heading: #fff;
  --color-content-body: #cdcbcc;
  --color-content-headline: #b2b2b2;
  --color-content-placeholder: #827d7f;

  --color-accent-purple: #4b2dbb;
  --color-accent-purple-dark: #171031;

  --color-accent-blue: #30b9e3;
  --color-accent-blue-dark: #102831;

  --color-accent-green: #87bb2d;
  --color-accent-green-dark: #222d26;

  --color-accent-pink: #b5446b;
  --color-accent-pink-dark: #2c1a22;

  --color-accent-yellow: #dccb2e;
  --color-accent-yellow-dark: #282a0f;

  --color-border-primary: #19191a;
  --color-border-secondary: #323234;
  --color-border-tertiary: #97979b;
}
